
 
@media (min-width: $desktop){
    .menurestaurant {
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

            h1{
                width: 100%;
                display: flex;
                justify-content: center;
            }

                & i{
                    margin-left: 17px;
                }
        }

        
            .fonctionnement__list{
                display: flex;
                justify-content: center;
                justify-content: space-between;
                margin-left: 133px;
                margin-right: 155px;
            }

                .fonctionnement li{
                    padding-right: 8px;
                }

                    .btnExplorer{
                        width: 22%;
                    }
                    

.restaurants{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

        & h2{
            width: 100%;
        }
}

    .menucarte{
        width: 40%;
    }

        .footer__titre{
            display: flex;
            justify-content: center;
        }

            .footer__liens{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
            }
}

