
    @media (min-width: $tablet) and (max-width: $desktop - 1) {
        .menurestaurant {
        display: flex;
        }
            .fonctionnement__list{
                display: flex;
                justify-content: space-between;
                padding: 0px;
            }

                .fonctionnement li{
                    padding-right: 8px;
                }

                .btnExplorer{
                    width: 26%;
                }
            }
        




