/* Error: expected "}".
 *    ,
 * 67 | }
 *    |  ^
 *    '
 *   sass\layout\_desktop.scss 67:2  @import
 *   sass\main.scss 21:9             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "}".\a    \2577 \a 67 \2502  }\d\a    \2502   ^\a    \2575 \a   sass\\layout\\_desktop.scss 67:2  @import\a   sass\\main.scss 21:9             root stylesheet';
}
