/*
@mixin btn {

    @include border;
    color: $colour-primary;

    cursor: pointer;
    &:hover{
        background: $colour-primary;

    }
    &--full-width {
        width: 100%;
        margin: 0 auto;
    }
}*/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: black;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #15DEA5;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.7;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

/*.btn {
    @include btn
}*/
.btnExplorer {
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 50px;
  width: 61%;
  height: 46px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  align-items: center;
  background: linear-gradient(to top, #c137c3, #FF79DA);
  margin: auto;
  margin-top: 20px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

.btnExplorer:hover {
  box-shadow: 8px 8px 13px rgba(0, 0, 0, 0.4);
}

h2 {
  color: black;
}

.fonctionnement {
  padding: 1.5rem 2rem;
}
.fonctionnement > * {
  margin: 2rem 0;
}
.fonctionnement li {
  cursor: pointer;
  color: black;
  background-color: rgb(246, 246, 246);
  border-radius: 1.5rem;
  margin: 1rem 0;
  position: relative;
  box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  list-style-type: none;
  display: flex;
  align-items: center;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}
.fonctionnement li:hover {
  box-shadow: 8px 8px 13px rgba(0, 0, 0, 0.4);
}
.fonctionnement .fas {
  margin: 0 1rem;
  color: grey;
  margin-left: 2rem;
  font-size: 19px;
}
.fonctionnement p {
  color: white;
  width: 27px;
  background-color: #9356DC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-left: -15px;
}

.restaurants .menucarte:hover {
  box-shadow: 8px 8px 13px rgba(0, 0, 0, 0.4);
}

.coeur {
  color: black;
  font-size: 20px;
}
.coeur:hover {
  font-weight: 900;
  background-image: linear-gradient(to bottom left, #9356dc, #ff79da);
  transition: background-image 1s ease-in-out;
  -webkit-background-clip: text;
  color: transparent;
}

.menucarte {
  cursor: pointer;
  position: relative;
  border-radius: 1rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  line-height: 0;
}
.menucarte__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 50% 60%;
  border-radius: 1rem 1rem 0 0;
}
.menucarte__intituler {
  color: black;
  height: 60px;
}
.menucarte__titre {
  padding: 0.5rem 1rem 0.2rem;
}
.menucarte__lieux {
  padding: 0.2rem 1rem 0.5rem;
}
.menucarte__like {
  position: absolute;
  right: 28px;
  bottom: 50px;
  transform: translate(-21%, 72%);
  color: white;
  border-color: black;
}
.menucarte__like:hover::after {
  transform: rotate(150deg);
}
.menucarte--nouveau::after {
  content: "Nouveau";
  position: absolute;
  top: 7px;
  right: 6px;
  padding: 1.5rem 0.8rem;
  color: rgb(5, 138, 105);
  background-color: rgb(153, 226, 208);
}

.menurestaurant__type:hover .menuListe {
  width: calc(85% - 49px);
  transition: width 0.6s ease-in-out;
}
.menurestaurant__type:hover i {
  transform: rotate(1turn);
  transition: transform 0.6s ease-in-out;
}

.menuListe {
  cursor: pointer;
  color: black;
  border-radius: 1rem;
  padding-left: 8px;
  width: 85%;
  flex: none;
  padding: 10px;
  white-space: nowrap;
  animation: 0.6s agrandir ease-in-out forwards;
}
.menuListe:nth-child(1) {
  animation: 0.8s cartes 0.4s ease-in-out forwards;
}
.menuListe__titre {
  margin: 0px;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuListe__plat {
  animation: 0.6s agrandir ease-in-out forwards;
  font-size: 13px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuListe__prix {
  font-weight: bold;
  color: black;
  width: 15%;
  flex: none;
  padding: 10px;
  align-self: flex-end;
}
.menuListe__check {
  background-color: #99E2D0;
  cursor: pointer;
  width: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 12px 12px 0px;
}
.menuListe__iconeVld i {
  /* Rond blanc*/
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.95);
  animation: 1.5s linear loader forwards;
}
.loader::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  border-top: 4px solid #9356dc;
  border-bottom: 4px solid #ff79da;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  transform: translate(-50%, -50%);
  animation: 1.4s infinite linear rotation;
}
.loader::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  border-top: 4px solid #9356dc;
  border-bottom: 4px solid #ff79da;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  transform: translate(-50%, -50%) rotate(45deg);
  animation: 0.7s infinite linear rotation;
}

@keyframes rotation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  99% {
    z-index: 1000;
  }
  100% {
    opacity: 0;
    z-index: -1000;
  }
}
.mainHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}
.mainHeader .Header_img {
  width: 150px;
}
.mainHeader__fleche {
  position: absolute;
  left: 22px;
  top: 24px;
  color: black;
}

aside {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #e7e4e3;
  margin-right: -9px;
  margin-left: -11px;
}
aside i {
  margin-right: 21px;
}

.Filtre {
  color: black;
  line-height: 1;
  text-align: center;
  background-color: #f2f2f2;
  margin-right: -8px;
  margin-left: -9px;
  padding-top: 9px;
  padding-bottom: 57px;
}
.Filtre p {
  margin-bottom: 26px;
  font-size: 17px;
}

.restaurants {
  padding: 1.5rem;
  background-color: rgb(246, 246, 246);
}
.restaurants > * {
  margin: 2rem 0;
}

.footer {
  color: white;
  background-color: rgb(53, 53, 53);
  padding: 1.5rem;
}
.footer__titre {
  font-family: shrikhand;
  color: white;
  margin-bottom: -10px;
}
.footer__liens {
  padding: 1rem 0;
}
.footer__lien {
  list-style-type: none;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer i {
  margin-right: 1rem;
}

.menurestaurant {
  position: relative;
  margin-top: -3rem;
  border-radius: 3rem 3rem 0 0;
  padding: 1rem 1rem 3rem 1rem;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.menurestaurant h2::after {
  content: "";
  display: block;
  border-bottom: 2px solid #99E2D0;
  width: 51px;
  font-size: 17px;
}
.menurestaurant__nom {
  font-family: Shrikhand;
  font-size: 2.5rem;
  position: relative;
  margin: 1rem 0 2rem 0;
  color: black;
  display: flex;
  justify-content: space-between;
}
.menurestaurant__nom__btnlike {
  top: 0;
  right: 3rem;
  color: white;
}
.menurestaurant__entree {
  text-transform: uppercase;
  position: relative;
  animation: 1.8s entree ease-in-out forwards;
}
.menurestaurant section:hover:nth-child(1) {
  animation: 0.8s cartes 4s ease-in-out forwards;
}
.menurestaurant section:hover:nth-child(2) {
  animation: 0.8s cartes 7s ease-in-out forwards;
}
.menurestaurant section:hover:nth-child(3) {
  animation: 0.8s cartes 10s ease-in-out forwards;
}
.menurestaurant section:hover:nth-child(4) {
  animation: 0.8s cartes 13s ease-in-out forwards;
}
.menurestaurant__type {
  display: flex;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 20px;
}
@keyframes cartes {
  from {
    transform: translate(-100%);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}

.photorestaurant {
  width: 100%;
  height: 238px;
  object-fit: cover;
  object-position: 50% 60%;
}

@media (min-width: 768px) and (max-width: 1023px) {
  /*.menurestaurant {

  }*/
  .menucarte {
    width: 40%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .fonctionnement__list {
    display: flex;
    justify-content: space-between;
    padding: 0px;
  }
  .fonctionnement li {
    padding-right: 8px;
  }
  .btnExplorer {
    width: 26%;
  }
  .restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .restaurants h2 {
    width: 100%;
  }
  .footer__titre {
    display: flex;
    justify-content: center;
  }
  .footer__liens {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (min-width: 1024px) {
  .menurestaurant {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .menurestaurant h1 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .menurestaurant i {
    margin-left: 17px;
  }
  .fonctionnement__list {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-left: 133px;
    margin-right: 155px;
  }
  .fonctionnement li {
    padding-right: 8px;
  }
  .btnExplorer {
    width: 22%;
  }
  .restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .restaurants h2 {
    width: 100%;
  }
  .menucarte {
    width: 40%;
  }
  .footer__titre {
    display: flex;
    justify-content: center;
  }
  .footer__liens {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

/*# sourceMappingURL=style.css.map */
