.loader{
    position: fixed;//définit la façon dont un élément est positionné dans un document.
    z-index: 1000;//Lorsque des éléments se chevauchent, le z-order détermine l'ordre des différentes couches que formeront les éléments
    width: 100vw;
    height: 100vh;//FORMAT DE LECRAN
    background-color: rgba(255,255,255,.95);
    animation: 1.5s linear loader forwards;

    //qui sera le dernier enfant de l'élément sélectionné. Il est souvent utilisé pour ajouter du contenu cosmétique à un élément
    &::after{
        content:'';
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 100%;
        width:100px;
        height:100px;
        border-top: 4px solid $primaryColor;
        border-bottom: 4px solid $secondaryColor;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        transform: translate(-50%,-50%);
        animation: 1.4s infinite linear rotation;
    }

    //qui sera le premier enfant de l'élément ciblé. Généralement utilisé pour ajouter du contenu esthétique à un élément via la propriété CSS 
    &::before{
        content:'';
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 100%;
        width:50px;
        height:50px;
        border-top: 4px solid  $primaryColor;
        border-bottom: 4px solid $secondaryColor;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        transform: translate(-50%,-50%) rotate(45deg);
        animation: .7s infinite linear rotation;
    }
}

/* permet aux auteurs de définir les étapes qui composent la séquence d'une animation CSS*/
@keyframes rotation{
    0%{
        transform: translate(-50%,-50%) rotate(0deg); // Grâce à cette propriété, il est possible de translater les éléments, de les tourner, d'appliquer des homothéties, de les distordre pour en changer la perspective.
    }
    100%{
        transform: translate(-50%,-50%) rotate(1turn);
    }
}
@keyframes loader{
    0%{
        opacity: 1; //définit la transparence d'un élément. Autrement dit, elle permet de définir le degré de visibilité de l'arrière-plan sur lequel est placé l'élément.
    }
    90%{
        opacity: 1;
    }
    99%{
        z-index: 1000;
    }
    100%{
        opacity:0;
        z-index: -1000;
    }
}