.loader{
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 100vh;//FORMAT DE LECRAN
    background-color: rgba(255,255,255,.95);
    animation: 1.5s linear loader forwards;

    &::after{
        content:'';
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 100%;
        width:100px;
        height:100px;
        border-top: 4px solid #9356dc;
        border-bottom: 4px solid #ff79da;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        transform: translate(-50%,-50%);
        animation: 1.4s infinite linear rotation;
    }

    &::before{
        content:'';
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 100%;
        width:50px;
        height:50px;
        border-top: 4px solid #9356dc;
        border-bottom: 4px solid #ff79da;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        transform: translate(-50%,-50%) rotate(45deg);
        animation: .7s infinite linear rotation;
    }
}
@keyframes rotation{
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(1turn);
    }
}
@keyframes loader{
    0%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    99%{
        z-index: 1000;
    }
    100%{
        opacity:0;
        z-index: -1000;
    }
}