.coeur{
    color: black;
    font-size: 20px;
    &:hover{
        font-weight: 900;
        background-image: linear-gradient(to bottom left, #9356dc, #ff79da);
        transition: background-image 1s ease-in-out;
        -webkit-background-clip:text;
        color: transparent;
    }
}

// Début Page d'accueil
.menucarte{
    cursor: pointer;
    position: relative;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px rgba(0,0,0,.4);
    line-height: 0;

        &__img{
            width: 100%;
            height: 200px;
            object-fit: cover;
            object-position: 50% 60%; //pouvoir mettre les images dans le même sens
            border-radius: 1rem 1rem 0 0;
        }

            &__intituler{
                color: black;
                height: 60px;
            }

                &__titre{
                    padding: .5rem 1rem .2rem;
                }

                    &__lieux{
                        padding: .2rem 1rem .5rem;
                    }

                        &__like{
                            position: absolute;
                            right: 28px;
                            bottom: 50px;
                            transform: translate(-21%, 72%); //La propriété transform modifie l'espace de coordonnées utilisé pour la mise en forme visuelle
                           
                            color: white;
                            border-color: black;
                        }

                        

                                &__like:hover::after{
                                    transform: rotate(150deg);
                                }

                                    &--nouveau::after{
                                        content:'Nouveau';
                                        position:absolute;
                                        top: 7px;
                                        right: 6px;
                                        padding: 1.5rem .8rem;
                                        color:rgb(5,138,105);
                                        background-color: rgb(153,226,208);
                                    }

                        }
                        //Fin de la page d'accueil
    