.menurestaurant{
    position: relative;
    margin-top: -3rem;
    border-radius: 3rem 3rem 0 0;
    padding: 1rem 1rem 3rem 1rem;
    display: flex;
    flex-direction: column;
    background-color: white;

    

        & h2::after{
        content: '';
        display: block;
        border-bottom: 2px solid #99E2D0;
        width: 51px;
        font-size: 17px;
    }



    &__nom{
        font-family: Shrikhand;
        font-size: 2.5rem;
        position: relative;
        margin: 1rem 0 2rem 0;
        color: black;
        display: flex;
        justify-content: space-between;

        &__btnlike{
            top:0;
            right: 3rem;
            color: white;
        }
    }
            &__entree{
                text-transform: uppercase;
                position: relative;
                animation: 1.8s entree  ease-in-out forwards;
                
            }
                &:nth-child(1){
                    animation: .8s cartes 2.5s ease-in-out forwards;
                }
                &:nth-child(2){
                    animation: .8s cartes 2s ease-in-out forwards;
                }
                &:nth-child(3){
                    animation: .8s cartes 1s ease-in-out forwards;
                }
                &:nth-child(4){
                    animation: .8s cartes 1.3s ease-in-out forwards;
                
                }
            
            

                    &__type{
                        display: flex;
                        box-shadow: 0 4px 12px rgba(0,0,0, 0.2);
                        overflow: hidden;
                        border-radius: 12px;
                        margin-bottom: 20px;
                    }

                    
                    
                    @keyframes cartes {
                        from{
                            transform: translate(-100%);
                            opacity: 0;
                        }
                        to{
                            transform: translate(0);
                            opacity: 1;
                        }
                    }
                      
            }
