
/*
@mixin btn {

    @include border;
    color: $colour-primary;

    cursor: pointer;
    &:hover{
        background: $colour-primary;

    }
    &--full-width {
        width: 100%;
        margin: 0 auto;
    }
}*/

